.product-page {
  margin: auto;
  max-width: 1200px;
  min-width: 320px;

  .page-title {
    text-align: center;
    font-size: 32px;
    margin: 20px 0;
  }

  .product-container {
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;


    @media screen and ( max-width: 425px ) {
      justify-content: center;
    }
  }
}
