.cart {
  max-width: 1200px;
  margin: auto;
  .cart-container {
    .top-row {
      display: flex;
      justify-content: flex-start;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      height: 56px;
      width: 100%;
      padding: 16px;
      background-color: #d9dcf3;
      border: 1px solid #aaacc6;
      border-radius: 5px;
      margin-bottom: 16px;
    }

    .cart-content {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;

      .cart-product {
        display: flex;
        justify-content: flex-start;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        height: 56px;
        width: 100%;
        padding: 16px;
        background-color: #f0f1f8;
        border: 1px solid #aaacc6;
        border-radius: 5px;
        margin-bottom: 16px;
      }  
    }

    .small-cell {
      min-width: 100px;
      max-width: 100px;
    }
  
    .full-cell {
      width: 100%;
    }
  }
}
