.cart {
  max-width: 1200px;
  margin: auto;

  .page-title {
    text-align: center;
    font-size: 32px;
    margin: 20px 0;
  }

  .cart-container {
    .top-row {
      display: flex;
      justify-content: flex-start;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      height: 56px;
      width: 100%;
      padding: 16px;
      background-color: #f0f1f8;
      border: 1px solid #aaacc6;
      border-radius: 5px;
      margin-bottom: 16px;
    }

    .cart-content {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;

      .cart-product {
        display: flex;
        justify-content: flex-start;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        height: 56px;
        width: 100%;
        padding: 16px;
        background-color: #f0f1f8;
        border: 1px solid #aaacc6;
        border-radius: 5px;
        margin-bottom: 16px;
      }  
    }

    .bottom-row {
      display: flex;
      justify-content: space-between;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      height: 56px;
      width: 100%;
      padding: 16px;
      background-color: #f0f1f8;
      border: 1px solid #aaacc6;
      border-radius: 5px;
      margin-bottom: 16px;
    }

    .small-cell {
      margin: 0 12px;
      min-width: 120px;
      max-width: 120px;
    }
  
    .full-cell {
      margin: 0 12px;
      width: 100%;
    }
  }
}
